<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<div>
  <%= link_to "All Posts", all_posts_path %>
</div>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.content %> :: by - <%= comment.author_name %>
    </li>
  <% end %>
</ul>

<%= link_to "Delete", delete_blog_post_path(@post), method: :delete %>
